html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}
span.material-symbols-outlined {  /* Ãcones do Google */
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 300.0%;
}
img {
    max-width: 100.0%;
    max-height: 100.0%;
}

body {
    background-color: #AED6F1;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90.0vw;
    height: 92.0vh;
    max-width: 500px;
    max-height: 580px;
    margin: 1.2rem auto;
    -webkit-user-select: none;  /* Desativar hover dos textos */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#game-display {
    background-image: url("img_audio/display_background.png");
    background-size: contain;
    outline: solid #989898 4px;
    position: relative;
    width: 100.0%;
    height: 55.0%;
}
#game-display > * {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#destiny-div {
    background-image: url("img_audio/key_image.png");
    top: 2.0%;
    left: 45.5%;
    width: 9.0%;
    height: 8.0%;
}
#first-enemy-div {
    top: 45.5%;
    width: 7.0%;
    height: 9.0%;
    background: blue;
}
#player-div {
    top: 88.0%;
    left: 47.0%;
    width: 6.0%;
    height: 8.0%;
    background: pink;
}
#game-controls {
    position: relative;
    width: 70.0%;
    height: 40.0%;
    max-width: 280px;
}
#game-controls > * {
    background-color: #989898;
    box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.0%;
    height: 30.0%;
    cursor: pointer;
    transition: 0.25s ease-out;
}
#game-controls > *:active {
    background-color: #707070;
}
#control-up {
    left: 35%;
}
#control-right {
    top: 35%;
    left: 70%;
}
#control-down {
    top: 70%;
    left: 35%;
}
#control-left {
    top: 35%;
}