html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}
span.material-symbols-outlined {  /* Ãcones do Google */
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 300.0%;
}
img {
    max-width: 100.0%;
    max-height: 100.0%;
}
h1, h2 {
    font-weight: normal;
}

body {
    background-color: #58316B;
    font-family: 'Noto Sans JP', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90.0vw;
    height: 92.0vh;
    max-width: 500px;
    max-height: 580px;
    margin: 1.2rem auto;
}
#game-display {
    z-index: 1;
    position: relative;
    background-image: url("image/display_background.png");
    background-size: contain;
    outline: solid #989898 4px;
    width: 100.0%;
    height: 55.0%;
}
#game-display > * {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#key-div {
    z-index: 2;
    background-image: url("image/key_image.png");
    top: 6.0%;
    left: 45.5%;
    width: 9.0%;
    height: 8.0%;
}
#first-enemy-div {
    top: 45.5%;
}
.enemy {  /* Todos os inimigos possuem essa classe */
    z-index: 5;  /* Manter as divs dos inimigos sempre sobrepondo a div do jogador */
    background-color: #1434A4;
    width: 7.0%;
    height: 9.0%;
}
#player-div {
    z-index: 4;
    background-color: #800080;
    top: 86.0%;
    left: 47.0%;
    width: 6.0%;
    height: 8.0%;
}
#start-screen, #end-screen {
    z-index: 6;
    background-color: #8C16C7;
    color: #FFBF00;
    outline: solid #FFBF00 4px;
    justify-content: center;
    top: 10.0%;
    left: 15.0%;
    width: 70.0%;
    height: 80.0%;
    padding: 0.6rem;
    border-radius: 16px;
    transition: 0.25s ease-out;
}
#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button.restart-button, #start-screen > * {
    opacity: 0.8;
    background-color: #58316B;
    color: #FFBF00;
    width: 80.0%;
    border-radius: 12px;
    font-style: italic;
    font-size: 2.0em;
    text-align: center;
    transition: 0.25s ease-out;
}
button.restart-button:hover, #start-screen > *:not(.unhover):hover {
    opacity: 1;
    cursor: pointer;
}
#dificulty-option, #easy-option, #medium-option, #hard-option, 
#colors-option, #show-color, #player-color, #apply-color, #confirm-color,
#clear-option, #records-table, #back-records,
#end-screen {
    display: none;
}
#show-color {
    opacity: 1;
    background-color: #800080;
    width: 20.0%;
    height: 25.0%;
    border-radius: 0;
}
#player-color {
    opacity: 1;
    height: 15.0%;
    cursor: pointer;
}
#records-table {
    opacity: 1;
    font-size: 1.8em;
}
#end-screen h2 {
    text-align: center;
    font-style: italic;
    font-size: 2.6em;
}
#end-screen p {
    text-align: left;
    font-size: 1.2em;
}
#win-screen, #lost-screen {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#win-time {
    display: flex;
    align-items: baseline;
}
p#time {
    margin-left: 0.3rem;
    font-style: italic;
    font-size: 2.0em;
}
#game-controls {
    position: relative;
    width: 100.0%;
    height: 40.0%;
    -webkit-user-select: none;  /* Desativar hover dos textos */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#game-controls > *:not(#audio-control) {
    background-color: #989898;
    box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.0%;
    height: 30.0%;
    cursor: pointer;
    transition: 0.25s ease-out;
}
#game-controls > *:not(#audio-control):active {
    background-color: #707070;
}
#control-up {
    left: 40%;
}
#control-right {
    top: 35%;
    left: 63%;
}
#control-down {
    top: 70%;
    left: 40%;
}
#control-left {
    top: 35%;
    left: 17%;
}
#audio-control {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 84%;
    left: 90%;
    width: 10%;
    height: 16%;
    cursor: pointer;
    transition: 0.25s ease-out;
}
#audio-control:active {
    opacity: 0.7;
}
.audio-on {
    background-image: url("image/audio_on.png");
}
.audio-off {
    background-image: url("image/audio_off.png");
}
footer {
    background-color: #8C16C7;
    box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100.0%;
    padding: 1.2rem 0;
    margin-bottom: 2.0rem;
}
#game-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90.0%;
    max-width: 572px;
    margin: 1.2rem auto;
}
#game-title > h1 {
    color: #FFBF00;
    opacity: 0.9;
    text-align: center;
    font-size: 3.0em;
}
#game-title > img {
    width: 10.0vw;
    max-width: 140px;
}
#footer-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    width: 100.0%;
    max-width: 1367px;
    margin: 0 auto;
}
#footer-sections > section {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.4em;
    width: 30.0%;
    max-width: 400px;
    padding: 1.0rem;
    border: dashed #FFBF00 4px;
    font-size: 1.1em
}
#footer-sections > section h2 {
    color: #FFBF00;
    text-align: center;
    font-style: italic;
    font-size: 2.2em;
}
#footer-sections > section p {
    color: #FFFFFF;
    word-spacing: 0.1em;
    line-height: 1.5em;
}
a.footer-link {
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: underline;
    transition: 0.25s ease-out;
}
a.footer-link:hover {
    opacity: 1;
}

@media only screen and (max-width: 816px) {
    #game-title {
        width: 80.0%;
    }
    #footer-sections {
        flex-direction: column;
        align-items: center;
    }
    #footer-sections > section {
        width: 80.0%;
        max-width: unset;
    }
}