/*Todas as páginas do site referenciam este arquivo css*/

/* -------------------------- base -------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Ubuntu:wght@300&display=swap');
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Ubuntu:wght@300&display=swap');
/*
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

*{padding: 0px; border: 0px; margin: 0px;}

#background{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006abf;
}

img{
    max-height: 100%;
    max-width: 100%;
}

/* -------------------------- header -------------------------- */

header{
    height: 90px; 
    width: 1230px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#logo_header{    
    height: 90px;
    width: 340px;
    float: left;
}

#banner{
    height: 90px;
    width: 890px;
    float: left;
}

/* -------------------------- menus nav -------------------------- */

nav.menu{
    height: 46px;
    width: 1230px;
    box-sizing: border-box;
    background-color: #ef1c25;
    padding: 4px 25px 4px 25px;
    border-top: solid black 4px; 
    border-bottom: solid black 4px; 
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

nav.menu li{
    list-style: none;
    float: left;
    padding: 4px;
    border: 2px solid #ef1c25;
    margin-right: 4px;
    font-size: 16px;
}

nav.menu li.direita{
    float: right;   
}

nav.menu li:hover{
    border: solid white 2px;
}

nav.menu a{
    text-decoration: none;
    color: white;     
}

/* -------------------------- conteudo -------------------------- */

main{
    height: 750px;
    width: 1230px;
    box-sizing: border-box;
    background-color: white;
    padding: 20px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#tema{
    height: 120px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* -------------------------- footer -------------------------- */

footer{
    height: 50px;
    width: 1230px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

nav.rodape li{
    list-style: none;
    float: left;
    margin: 15px;
    font-size: 20px;  
}

#logo_footer{
    float: left;
    height: 50px;
    margin-left: 300px;
    margin-right: 20px;
}

footer a:hover{
   color: red; 
}
